
html {
    min-height: 100%;
}

body {
    min-height: 100%;
    position: absolute;
    width: 100%;
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

.navbar {
    height: 60px;
    width: 100%;
    display: inline;
}

.nav-left {
    left: 50px;


}

.nav-right {
    right: 50px;
}

.nav-left, .nav-right{
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
}

.nav-left a, .nav-right a {
    display: inline;
    font-size: 12px;
    text-decoration: none;
}

.main {
    padding-top: 100px;
}

.image {
    margin-top: 100px;
}

.image img {
    display: block;
    margin: auto;
}

.google-search {
    text-align: center;
}


.footer {
    margin-bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    position: absolute;
    display: inline;
    bottom: 0;
}

.footer-left, .footer-right {
    display: inline-block;
    position: absolute: 
}
.footer-left a, .footer-right a {
    display: inline-block;
    padding-top: 20px;
}

.footer-left {
    left: 50px;
}

.footer-right {
    right: 50px;
}