nav {
    margin: 20px; 
    padding: 20px 130px;
    height: 60px;
    width: 100%;
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline;
}

ul li {
    display: inline;
    margin: 30px 40px;
}
